.footerLink {
    color: #A3ABBA;
    font-weight: 200!important;
    &:hover {
        color: 'white';
        text-decoration-color: '#49ef8b'!important;
        text-decoration-thickness: '3px'!important;
        text-underline-offset: '5px'!important;
    }
}

