.footer_link {
    color: #A3ABBA;
    font-weight: 200;
}
 
.footer_link:hover {
    color: 'white';
    text-decoration-color: '#49ef8b';
    text-decoration-thickness: '3px';
    text-underline-offset: '5px'
}